<h1>Edit <%= act.activity %></h1>

<form>
    <label>Activity:</label><input type="text" name="activity" id="activity" value="<%= act.activity %>">
    <label>Activity:</label><input type="text" name="activity" id="activity" value="<%= act.activity %>">
    <label>Activity:</label><input type="text" name="activity" id="activity" value="<%= act.activity %>">
    <label>Activity:</label><input type="text" name="activity" id="activity" value="<%= act.activity %>">
    <label>Activity:</label><input type="text" name="activity" id="activity" value="<%= act.activity %>">
    <label>Activity:</label><input type="text" name="activity" id="activity" value="<%= act.activity %>">
</form>

